body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
}

#container, #pokeBag {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 50vw;
  height: 50vw;
  margin-bottom: 20px;
}

.pokeBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#submit {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submit:hover {
  background-color: #2980b9;
}

.pokeBox.clicked {
  background-color: #e74c3c; /* 클릭되었을 때의 배경색 변경 */
  position: relative;
}

.pokeBox.clicked::after, .pokeBox.clicked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 2px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.pokeBox.clicked::after {
  transform: translate(-50%, -50%) rotate(45deg); /* 대각선 X의 위쪽 바 */
}

.pokeBox.clicked::before {
  transform: translate(-50%, -50%) rotate(-45deg); /* 대각선 X의 아래쪽 바 */
}