* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  text-align: center;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.menu {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.menu>li {
  margin: 30px 30px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}